<nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/products"> All Products </a>
        <a class="navbar-item" href="/reviews"> All Reviews </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <!-- this will add a link to the new route -->
    <div class="navbar-menu navbar-end">
        <a class="navbar-item" href="/products/new"> New Product </a>
    </div>
</nav>
